body {padding:0; background-color: #EAEAF1; font-family: Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6, address, blockquote, dl, fieldset, ol, p, table, ul {margin:15px 15px 0 0;}

/* ----------------------------------------------------------------------------------------------------------
Layout
---------------------------------------------------------------------------------------------------------- */

#top {width:1024px; margin:0 auto; /*background:url(../design/top.jpg);*/}
#top #logo {padding:24px 0; padding-left: 24px; background-color: #F1F1F3;}
#top #logo img {display:block;}
#top #promotions {background-color: #F1F1F3;}
#top #promotions img {display:block;}

#main {width:1024px; margin:0 auto; padding:0; border-top: 1px solid #666; /*background:url("../design/mainbg.png") 0 0 repeat-x;*/}
#header {position:relative; width: 1024px; padding:0; overflow:hidden;}
#header #nav {position:relative; margin:0 auto; width: 820px; height: 44px; z-index:550; top: 12px; }
#header #nav span {margin:0 10px;}

#subheader {position:relative; height:230px; padding:0; overflow:hidden;}
#subheader #logo {margin:0;}
#subheader #logo img {display:block;}
#subheader #nav {position:absolute; top:25px; right: 0; margin:0; margin-left:360px; width:560px; z-index:550;}
#subheader #nav span {margin:0 10px;}

#promo {position:relative; height:500px; overflow:hidden; top:12px; border-top: 1px solid #666; border-bottom: 1px solid #666;}
#promo p {margin:0;}
#promo img {margin:0;}
#promo p#slogan {position:absolute; top:150px; right:0; z-index:150;}
#promo ul#slider {margin:0;}

#footer {height: 260px; padding:24px; padding-bottom: 0; background-color: #F1F1F3; border-top: 2px solid #666;}
#footer p {margin:0;}
#footer a, #footer a:visited {color:#AAA; text-decoration: none;}
#footnav {position:relative; top: 20px;}
#footnav a, #footnav a:visited {margin: 0 26px; color:#C00; text-decoration: none;}

#addresses {width: 340px; position: relative; left: -260px; top: 40px;}
#addresses table thead tr td {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #AAA; padding-left: 12px;}
#addresses table tbody tr td {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #AAA; padding-left: 12px;}
#footlinks {width: 580px; position: relative; top: -114px; right: 2px;}
#footlinks table tr td {width: 120px; font-size: 12px; color: #AAA; padding: 3px 0;}
#footlinks table tr td.first {width: 130px; font-size: 12px; color: #AAA; padding-left: 8px;}
#footlinks table tr td.mid {width: 120px; font-size: 12px; color: #AAA; padding-left: 6px;}

#bottom {height: 36px; background-color: #414546;}

/* ----------------------------------------------------------------------------------------------------------
Page: Homepage
---------------------------------------------------------------------------------------------------------- */

.cols3 {width:1024px; margin:20px auto; padding:20px 0;}
.cols3 .cols3-content {width:980px; margin: 0 auto; padding-left: 44px;}
.cols3 .col {float:left; width:270px; margin-right:32px; padding:0 10px 10px 10px;}
.cols3 .col.last {margin-right:0;}
.cols3 .col h2 {margin:0; margin-top: -69px; height: 35px; padding:15px 10px;}
.cols3 .col h2 a {text-decoration:none;}
.cols3 .col h2 a:hover {text-decoration:underline;}
.cols3 .col p {margin:0;}
.cols3 .col img {margin-bottom:0;}
.cols3 .col ul {margin:10px 0 10px 10px;}
.cols3 .col ul li {padding-left:15px; background:url("../design/ul.gif") 0 7px no-repeat;}

/* ----------------------------------------------------------------------------------------------------------
Page: Subpage
---------------------------------------------------------------------------------------------------------- */

#title {margin:0; padding:30px 20px 20px 54px; letter-spacing:-1px; background-color:#FFF; font-family: Arial, Helvetica, sans-serif;}
#subnav {margin:0; padding:15px 20px;}
#subnav span {margin:0 10px;}
.content {width:940px; margin:0 -20px 20px -20px; padding:20px 0;}
.content .content-in {padding:10px 40px; background:url("../design/content.gif") 0 0 repeat-y;}
.content .content-bottom {width:940px; height:3px; background:url("../design/content-bottom.gif") 0 0 no-repeat; font-size:0; line-height:0; margin-top:-1px;}
.content .perex {border-bottom:1px solid #ddd; font-size:170%; color:#FFFFFF; background-color:#003366; padding:15px;}
.content .box-01 {padding:15px;}
.content .col50 {float:left; width:420px;}
.content ul {margin:15px 25px;}
.content ul ul {margin:0 0 0 25px;}
.content ul li {padding-left:15px; background:url("../design/ul.gif") 0 7px no-repeat;}
.content ul ul li {padding-left:15px; background:url("../design/ul-ul.gif") 0 7px no-repeat;}
.content table {margin:15px 0; border-collapse:collapse;}
.content table th, .content table td {padding:7px 10px;}
.content table th {text-align:center; font-weight:bold;}
.content dt {font-weight:bold;}
.content dd {margin-left:50px; margin-bottom:15px;}
.content h1, .content h2 {font-size:200%;}
.content h3 {font-size:160%;}
.content h4 {font-size:120%;}
.content h5, h6 {font-size:100%;}

.rows {width:1024px; margin:0 auto; padding:0 0 30px 0;}
.rows .rows-content {width:944px; margin: 0 auto; padding-left: 80px;}
.rows .row {float:left; width:270px; margin-right:32px; padding:0 10px 10px 10px;}
.rows .row-text {width: 860px; font-family: Arial, Helvetica, sans-serif; color: #555; font-size: 18px;}
.rows .row h2 {margin:0; margin-top: -69px; height: 35px; padding:15px 10px;}
.rows .row h2 a {text-decoration:none;}
.rows .row h2 a:hover {text-decoration:underline;}
.rows .row p {margin:0;}
.rows .row img {margin-bottom:0;}
.rows .row ul {margin:10px 0 10px 10px;}
.rows .row ul li {padding-left:15px; background:url("../design/ul.gif") 0 7px no-repeat;}

/* ----------------------------------------------------------------------------------------------------------
Others
---------------------------------------------------------------------------------------------------------- */

img.f-right {margin-left:20px; border:#CCCCCC 8px solid;}
img.f-left {margin-right:20px; border:#CCCCCC 8px solid;}
.input {padding:5px; background:url("../design/input.gif") 0 0 no-repeat; font:100%/1 "arial",sans-serif;}
.input-submit {padding:5px; font:bold 100%/1 "arial",sans-serif;}
.smaller {font-size:95%; text-align:justify; padding-right: 8px;}
.quote {font-size:65%;}
.homebig {font-size:120%;}
.block {display:block;}
.fgrey{color:#636363;}
.fblue{color:#003366;}
.fred{color:#990000; font-weight:bolder;}

/* ----------------------------------------------------------------------------------------------------------
Own
---------------------------------------------------------------------------------------------------------- */

ul.links-list li { margin-bottom: 3px; }
ul.links-list li a{ background:url(../images/download.png) no-repeat scroll -1px 0; padding-left: 28px; padding-top: 7px; }
ul.links-list li.undown a{ background: none; padding-left: 8px; padding-top: 7px; }
