/* Topnav */
ul.topnav {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	width: 824px;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 15px;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
	border-right: 1px #999 solid;
}
ul.topnav li.last{
	float: left;
	margin: 0;
	padding: 0 15px 0 15px;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
	border-right:none;
}
ul.topnav li:hover,  ul.topnav li.last:hover{
	background-color: #F1F1F3;
}
ul.topnav li a{
	padding: 5px;
	color: #666;
	display: block;
	text-decoration: none;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
	font-weight: normal;
}
ul.topnav li a:hover{
	color:#C00;
}
/* Subnav */
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 26px;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border-top: 1px solid #D2D2D2;
	border-left: 1px solid #D2D2D2;
	border-right: 1px solid #D2D2D2;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-bottom: 1px solid #D2D2D2; /*--Create bevel effect--*/
	clear: both;
	width: 170px;	
	background-color: #F1F1F3;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	padding-left: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
	font-weight:normal;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background-color: #F1F1F3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
	font-weight:normal;
	color:#C00;
}
