.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#CC0000}
.uspiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#E80000}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #e99191;
  border-right:1px solid #e99191;
  background:#d83f3f}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #f9e5e5;
  border-right:1px solid #f9e5e5;
  background:#d53030}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #d53030;
  border-right:1px solid #d53030;}
.spiffy4{
  border-left:1px solid #e99191;
  border-right:1px solid #e99191}
.spiffy5{
  border-left:1px solid #d83f3f;
  border-right:1px solid #d83f3f}
.spiffyfg{
  background:#CC0000}
