body {color:#000;}
a {color:#000;}
a:hover, a:active, a:focus {color:#004488;}

/* ----------------------------------------------------------------------------------------------------------
Layout
---------------------------------------------------------------------------------------------------------- */

#main {background-color:#fff;}
#header #nav span, #subnav span {color:#cfcfcf;}
#header #nav strong, #subnav strong {color:#004488;}
#subheader #nav span, #subnav span {color:#cfcfcf;}
#subheader #nav strong, #subnav strong {color:#004488;}
#footnav span, #subnav span {color:#cfcfcf;}
#footnav strong, #subnav strong {color:#004488;}
#promo {background-color:#dfdfdf;}

/* ----------------------------------------------------------------------------------------------------------
Page: Homepage
---------------------------------------------------------------------------------------------------------- */

.cols3 .col h2 {background:#CA0E04; opacity: 0.6;}
.cols3 .col h2 span {color:#fff; opacity: 1; font-size:100%; font-weight:normal;}
.cols3 .col h2 span a, .cols3 .col h2 span a:visited {color: #FFF; text-transform: uppercase; text-decoration: none;}
.cols3 .col h2 span a:hover {text-decoration: underline; cursor: pointer;}
.cols3 .col div.more {background-color: #F1F1F3; font-family: Verdana, Arial, Helvetiva, sans-serif; font-size: 13px; font-weight: bold; color: #AAA;}
.cols3 .col div.more p {padding: 8px 6px; text-align: justify;}
.cols3 .col div.more ul {list-style-type: circle; margin-left: 20px;}
.cols3 .col div.more ul li {font-size: 11px; padding-left: 10px;}

/* ----------------------------------------------------------------------------------------------------------
Page: Subpage
---------------------------------------------------------------------------------------------------------- */

#title {border-top:2px solid #666; color:#E00; text-transform: uppercase; font-size: 32px;}
#subtitle {color:#E00; text-transform: uppercase; font-size: 22px;}
h2#subtitle {
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-left: 88px;
}
.content .box-01 {border:1px solid #cfcfcf; background:#f9f9f9;}
.content table {border:3px solid #cfcfcf;}
.content table th, .content table td {border:1px solid #dfdfdf;}
.content table th {color:#004488;}
.content table tr.odd td {background-color:#f9f9f9;}
.content dt {color:#004488;}

.rows .row h2 {background:#CA0E04; opacity: 0.6;}
.rows .row h2.distrib {background:#CA0E04; opacity: 0.8;}
.rows .row h2 span {color:#fff; opacity: 1; font-size:100%; font-weight:normal;}
.rows .row-text {color: #787878; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal;}
.row-text ul {list-style: circle; margin-left: 340px;}
.row-text p {margin-left: 336px; text-align: justify;}
#backtop a, #backtop a:visited {padding-right: 30px; color: #009; text-decoration: none;}

.separation .separator {padding-bottom: 12px; margin-bottom: 24px; border-bottom: 1px solid #EEE;}
.distribution {text-transform: uppercase;}
.rows .row h2 span.products {font-size: 20px;}

ul.links-list li a, ul.links-list li a:visited, ul.links-list li a:hover {color: #009; text-decoration: none;}

/* ----------------------------------------------------------------------------------------------------------
Others
---------------------------------------------------------------------------------------------------------- */

.input {border:1px solid #bfbfbf;}
.input-submit {border:1px solid #1172d4; border-right:1px solid #024; border-bottom:1px solid #024; background:#004488; color:#fff;}

/* ----------------------------------------------------------------------------------------------------------
Own
---------------------------------------------------------------------------------------------------------- */

.content table th {
    color: #FFF;
    background-color: #3F4444;
}
.content table tr.odd td {
    background-color: #F9F9F9;
}
.content table {
    border: 3px solid #CFCFCF;
    font-size: 14px;
    position: relative;
    top: -34px;
}
.content table th, .content table td {
    border: 1px solid #DFDFDF;
}
.content table.no-border { border:none; margin:2px 0 0; top:0; }
